body {
	margin: 0;
	border: 0;
	padding: 0;
}

.background.sliced {
	display: flex;
	flex-direction: row;
	position: absolute;
	width: 100%;
	height: 100%;
}

.background.sliced.vertical {
	flex-direction: column;
}

.background.sliced .top,
.background.sliced .bottom {
	flex-shrink: 0;
}

.background.sliced .middle {
	flex-grow: 1;
}

.background.sliced .column {
	display: flex;
	flex-direction: column;
}
