/*
Made by Tiago Costa
https://github.com/tdcosta100
*/

body {
	margin: 0;
	border: 0;
	padding: 0;
}

.background.sliced {
	display: flex;
	flex-direction: row;
	position: absolute;
	width: 100%;
	height: 100%;
}

.background.sliced.vertical {
	flex-direction: column;
}

.background.sliced .left,
.background.sliced .right,
.background.sliced .top,
.background.sliced .bottom {
	flex-shrink: 1;
}

.background.sliced .center,
.background.sliced .middle {
	flex-grow: 1;
}

.background.sliced .column {
	display: flex;
	flex-direction: column;
}

#templates {
	display: none;
}
