/*
Made by Tiago Costa
https://github.com/tdcosta100
*/

@font-face {
	font-family: 'Franklin Gothic Medium';
	src: url(../fonts/framdit.ttf) format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Tahoma';
	src: url(../fonts/tahoma.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Tahoma';
	src: url(../fonts/tahomabd.ttf) format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Trebuchet MS';
	src: url(../fonts/trebucbd.ttf) format('truetype');
	font-style: normal;
	font-weight: bold;
}
