/*
Made by Tiago Costa
https://github.com/tdcosta100
*/

.window {
	display: flex;
	flex-direction: column;
	position: absolute;
}

.window .caption {
	position: relative;
}

.window .frame {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}

.window .frame .content {
	flex-grow: 1;
}

.window .frame .left,
.window .frame .right {
	position: relative;
}

.window .frame .bottom {
	position: relative;
	width: 100%;
}