/*
Made by Tiago Costa
https://github.com/tdcosta100
*/

.window {
	display: inline-flex;
	flex-direction: column;
	position: absolute;
}

/* Caption */
.window .caption {
	position: relative;
}

.window .caption .container {
	display: flex;
}

.window .caption .icon,
.window .caption .content,
.window .caption .buttons {
	position: relative;
}

.window .caption .content {
	flex-grow: 1;
	user-select: none;
}

/* Frame */
.window .frame {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.window .frame .container {
	display: flex;
	position: relative;
	flex-grow: 1;
}

.window .frame .content {
	flex-grow: 1;
}

.window .frame .border.left,
.window .frame .border.right {
	position: relative;
}

.window .frame .border.bottom {
	position: relative;
}

/* Maximized */
.window.maximized {
	left: 0 !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	width: auto !important;
	height: auto !important;
}

.window.maximized .frame .border {
	display: none;
}
