/*
Made by Tiago Costa
https://github.com/tdcosta100
*/

.window {
	display: inline-flex;
	flex-direction: column;
	position: absolute;
}

.window .caption {
	position: relative;
}

.window .caption .content {
	position: relative;
}

.window .frame {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.window .frame .container {
	display: flex;
	position: relative;
	align-items: stretch;
	flex-grow: 1;
}

.window .frame .content {
	flex-grow: 1;
}

.window .frame .border.left,
.window .frame .border.right {
	position: relative;
}

.window .frame .border.bottom {
	position: relative;
}